<html>
<head>
    <title>Smart Receipts</title>
   <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}/main.css" rel="stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
    <script type="text/javascript" src="http://underscorejs.org/underscore.js"></script>
    <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-carousel.js"></script>
    {% block extra_head %}{% endblock %}
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <h1 class="pull-left">Smart Receipts</h1>
            <div class="btn-group pull-right" style="margin-top:14px;">
                <a href="{% url admin:index %}" class="btn">Admin</a>
            </div>
        </div>
      </div>
    </div>

    <div class="container content">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>